.layout-header {
  background: #404a62;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px #242d44;
  max-width: 960px;
  border-radius: 0px;
  margin: auto;
}

input[type=search] {
  background: #242d44;
  color: #fefefe;
  border: 0;
  border-radius: 4px;
  padding: 4px 6px;
  min-width: 260px;
}

@media screen and (min-width: 600px) {
  .layout-header {
    border-radius: 4px;
  }
}
